name: Deploy to Azure Container Registry

on:
  push:
    branches: ["main"]
    paths:
      - 'src/**'
      - '.github/workflows/deploy-to-acr.yml'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:latest
          secrets: |
            env_content=${{ secrets.ENV }}
          cache-from: |
            type=registry,ref=${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:buildcache
          cache-to: |
            type=registry,ref=${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:buildcache,mode=max
